/*Title bar*/
.title {
    color: deepskyblue;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 2px lightgrey;
    
    
}


/*nav bar design*/
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    color: ghostwhite; /*this line has no effect*/
    background: lightblue;
    list-style-type: none;
    padding: 15px;
    text-decoration: none;
    
}

/*body*/

body {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    
    
}

.quotes {
    color: aliceblue;
    background: purple;
    
    
}
.newtenant {
    background: brown;
    color: white;
    
    
}

.existingtenant {
    background: grey;
    color: bisque;
}
